.container{
    width: 100%;
    height: 98vh;
    display: flex;
    justify-content: center;
    gap: 20px;
    
    
}
.red{
    margin-top: 500px;
    padding: 10px;
    border-radius:10px ;
    border: none;
    /* background-color: red; */
}
.blue{
     margin-top: 500px;
    padding: 10px;
    border-radius:10px ;
    border: none;
    background-color: blue;
}
.yellow{
    margin-top: 500px;
    padding: 10px;
    border-radius:10px ;
    border: none;
    background-color: yellow;
}
.brown{
    margin-top: 500px;
    padding: 10px;
    border-radius:10px ;
    border: none;
    background-color: brown;
}