*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "spartan",sans-serif;
}
h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;

}
h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}
h4{
    font-size: 20px;
    color: #222;

}
h6{
    font-weight: 700;
    font-size: 12px;

}
p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0px 20px 0px;
}
.section-p1{
    padding: 40px 80px;
}
.section-m1{
    margin: 40px 0;
}
button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}
button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
}
body{
    width: 100%;
}


/* header start */
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    height: 150px;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
#header img{
    width: 200px;
    
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#navbar li{
    list-style: none;
    padding: 0 20px;
   position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3 ease;
}
#navbar li a:hover,
#navbar li a.active{
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background:#088178 ;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
#hero{
    background-image: url(img/background.jpeg);
    /* background: #E3E6F3;/ */
    background-repeat: no-repeat;
   background-size: 200px auto;
   background-position: top right 50px;
    height: 90vh;
    background-position: top 25% right 0;
    width: 100%;
    background-size: cover;
    padding: 0 80px;
    display: flex;
   
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#hero h4{
    padding-bottom: 15px;
}
#hero h1{
    color: #088178;
}
#hero button{
    background-image: url(img/button.jpeg);
    background-color: transparent;
    border: 0;
    color: #088178;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}
#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#feature .fe-box{
    width: 180px;
    /* height: 220px; */
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.3);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
   
}
.fe-box img{
    width: 100%;
    margin-bottom: 10px;
}
#feature .fe-box:hover{
     box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}
#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px ;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background: #fddde4;
}
#feature .fe-box:nth-child(2) h6{
    background-color: #cdebbe;
}
#feature .fe-box:nth-child(3) img{
    height: 100px;
}
#feature .fe-box:nth-child(3) h6{
    background-color: #d1e8f2;
}
#feature .fe-box:nth-child(4) h6{
    background-color: #cdd4f8;
}
#feature .fe-box:nth-child(5) img{
height: 100px;
}
#feature .fe-box:nth-child(5) h6{
     background-color: #f6dbf6;
}
#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}
#product1{
    text-align: center;
}
#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
    margin: 15px 0;
    transition: 0.2 ease;
    position: relative;
}
#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.6);
}

#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}
#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}
#product1 .pro .des span{
    color: #606063;
    font-size: 12px;
}
#product1 .pro .des h5{
    color: #1a1a1a;
    padding-top: 7px;
    font-size: 14px;
}
#product1 .pro .des i{
    font-size: 12px;
    color:rgba(243, 181, 25);
}
#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}
#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    font-weight: 500;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
    color: #088178;
    background-color: #e8f6ea;
}
#banner{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-image: url(img/download.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 40vh;
}
#banner h4{
    color: #fff;
    font-size: 16px;
}
#banner h2{
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
}
#banner h2 span{
    color: #ef3636;
}
#banner button:hover{
    background: #088178;
    color: #fff;
}
#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#sm-banner .banner-box{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    background-image: url(img/download1.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 540px;
    background-size: cover;
    background-position: center;
    height: 50vh;
    padding: 30px;
}
#sm-banner h4{
    font-size: 300;
    font-weight: 20px;
    color: #fff;
}
#sm-banner h2{
    font-size: 800;
    font-weight: 28px;
    color: #fff;
}
#sm-banner span{
    font-size: 500;
    font-weight: 14px;
    padding-bottom: 15px;
    color: #fff;
}
#sm-banner .banner-box:hover button{
    background: #088178;
    border: 1px soolid #088178;
}
#sm-banner .banner-box2{
    background-image: url(img/download3.jpeg);
}
#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}
#banner3 .banner-box{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-image: url(img/download5.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}
#banner3 .banner-box2{
     background-image: url(img/girl.jpeg);
}
#banner3 .banner-box3{
     background-image: url(img/download7.jpeg);
}
#banner3 h2{
    color: #fff;
    font-weight: 900;
    font-size: 22px;
}
#banner3 h3{
    color: #ec544e;
    font-weight: 800;
    font-size: 15px;
}
#newsletter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-image: url();
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}
#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}
#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}
#newsletter p span{
    color: #fbd27f;
}
#newsletter input{
    height: 3.125rem;
    padding: 0 1.25rem;
    outline: none;
    border-radius: 4px;
    border: 1px solid transparent;
    width: 100%;
    font-size: 14px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#newsletter button{
    background-color: #088178;
    white-space: nowrap;
    color: #fff;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
#newsletter .form{
    display: flex;
    width: 40%;
}


footer {
    background-color: #f8f8f8;
    padding: 40px 20px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

footer .col {
    flex: 1 1 200px; /* responsive column size */
    display: flex;
    flex-direction: column;
    margin: 10px;
}

footer .col h4 {
    margin-bottom: 15px;
}

footer .col a {
    text-decoration: none;
    color: #333;
    margin-bottom: 10px;
    font-size: 14px;
}

footer .follow .icons i {
    margin-right: 10px;
    cursor: pointer;
    font-size: 18px;
}

footer .install .row {
    display: flex;
    gap: 10px;
    margin: 10px 0;
}
footer .col img {
    width: 100px;   /* reduce image width */
    height: auto;   /* keep aspect ratio */
    margin-bottom: 10px;
}

footer .install img {
    width: 150px;
    height: auto;
    margin: 10px 0 15px 0;
}

footer .copyright {
    width: 200%;
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
    color: #777;
}
footer .follow{
    margin-top: 20px;
}
footer .follow i{
    color:#465b52;
    padding-right: 4px;
    cursor: pointer;
}
footer .install .row img{
    border: 1px solid #088178;
    border-radius: 6px;
}
footer .follow i:hover,
footer a:hover{
    color: #088178;

}
@media (max-width:799px){
    .section-p1{
        padding: 40px 40px;
    }
    #navbar{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.01);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }
    #navbar.active{
        right: 0;
    }
     #navbar li{
        margin-bottom: 25px;
     }
     #mobile{
    display: flex;
    align-items: center;
}
#mobile i{
    color: #1a1a1a;
    font-size: 24px;
    padding-left: 20px;
}
#close{
    position: absolute;
    top: 30px;
    left: 30px;
    color: #222;
    font-size: 24px;
}
#lg-bag{
    display: none;
}
#hero{
   background-position: top 30% right 30px;
    height: 90vh;
    padding: 0 80px;
   
   
   
}
#feature{
    justify-content: center;
}
#feature .fe-box{
    margin: 15px 15px;
}
#product1 .pro-container{
    justify-content: center;
}
#product1 .pro{
    margin: 15px;
}
#banner{
    height: 20vh;
}
#sm-banner .banner-box{
    min-width: 100%;
    height: 30vh;
    /* margin: 20px; */
}
#banner3{
    padding: 0 40px;
}
#banner3 .banner-box{
    width: 28%;
}
#newsletter .form{
    width: 70%;
}

}
#mobile{
    display: flex;  /*remove the display if not show icon*/
    align-items: center;
}
#close{
    display: none;
    /* align-items: center; */
}

/* ============= shop section================= */
#page-header{
    background-image: url(img/boy.jpeg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 14px;

}
#page-header h2,
#page-header p{
    color: #fff;
}
#pagination{
    text-align: center;
}
#pagination a{
    text-decoration: none;
    background: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-size: 600;
}
#pagination a i{
    font-size: 16px;
    font-weight: 600;
}
#pro-detail .single-pro-image{
    width: 40%;
    margin-right: 50px;
}
.small-img-group{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
#pro-detail{
    display: flex;
    margin-top: 20px;
}
#pro-detail .single-pro-detail{
    width: 50%;
    padding-top: 30px;
}
#pro-detail .single-pro-detail h4{
    padding: 40px 0 20px 0;
}
#pro-detail .single-pro-detail h2{
    font-size: 26px;
}
#pro-detail .single-pro-detail select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}
#pro-detail .single-pro-detail input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}
#pro-detail .single-pro-detail input:focus{
    outline: none;
}
#pro-detail .single-pro-detail button{
    background: #088178;
    color: #fff;
}
#pro-detail .single-pro-detail span{
    line-height: 25px;
}
#main-img{
    height: 70vh;
}
#page-header.blog-header{
    background-image: url(img/blog1.jpeg);
    background-position: center;
    object-fit: cover;
}
#blog{
    padding: 150px 150px 0 150px;
}
#blog .blog-box{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
#blog .blog-img {
    width: 49%;
    /* margin-right: 40px; */ /* remove this */
    padding-right: 20px; /* optional */
    box-sizing: border-box;
}

.blog-img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
 #blog .blog-details{
    width: 50%;
    padding: 20px;
}
#blog .blog-details a{
    text-decoration: none;
    font-size: 11px;
    font-weight: 700;
    color: #000;
    position: relative;
    transition: 0.3s;
}
#blog .blog-details a::after{
    content: "";
    width: 50px;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 4px;
    right: -60px;
}
#blog .blog-details a:hover{
    color: #088178;
}
#blog .blog-details a:hover::after{
    background-color: #088178;
}
#blog .blog-box h1{
    position: absolute;
    top: -40px;
    font-size: 70px;
    font-weight: 700;
    left: 0;
    color: #c9cbce;
    z-index: -9;
}
#page-header.about-header{
    background-image: url(img/about1.jpeg);
}
#about-head{
    display: flex;
    align-items: center;
}
#about-head img{
    width: 50%;
    height: 400px;
}
#about-head div{
    padding-left: 40px;
}
#about-app h1{
    text-align: center;
}
#about-app .video{
    width: 70%;
    height: 100%;
    margin: 30px auto 0 auto;
}
#about-app .video video{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
#contact-details{
    display: flex;
    justify-content: center;
    align-items: center;
}
#contact-details .details{
    width: 40%;
}
#contact-details .details span,
#form-details form span{
    font-size: 12px;
    
}
#contact-details .details h2,
#form-details form h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}
#contact-details .details h3{
    font-size: 16px;
    padding-bottom: 15px;
    
}
#contact-details .details li{
    list-style: none;
    display: flex;
    padding: 10px 0;
}
#contact-details .details li i{
    font-size: 14px;
    padding-right: 22px;
}
#contact-details .details li p{
    margin: 0;
    font-size: 14px;
}
#contact-details .map{
    width: 55%;
    height: 400px;
}
#contact-details .map iframe{
    width: 100%;
    height: 100%;
}
#form-details{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}
#form-details form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 65%;
}
#form-details form input,
#form-details form textarea{
    outline: none;
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}
#form-details form button{
    background-color: #088178;
    color: #fff;
}
#form-details .people div{
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}
#form-details .people div img{
    height: 65px;
    width: 65px;
    border-radius: 50px;
    object-fit: cover;
    margin-right: 25px;
}
#form-details .people div p{
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}
#form-details .people div p span{
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}
#card table{
    width: 100%;
    border-collapse: collapse;
    white-space: nowrap;
    table-layout: fixed;
}
#card table img{
    width: 70px;
}
#card table td:nth-child(1){
    width: 100px;
    text-align: center;
}
#card table td:nth-child(2){
    width: 150px;
    text-align: center;
}
#card table td:nth-child(3){
    width: 250px;
    text-align: center;
}
#card table td:nth-child(4),
#card table td:nth-child(5),
#card table td:nth-child(6){
    width: 150px;
    text-align: center;
}
#card table td:nth-child(5) input{
    width: 70px;
    padding: 10px 5px 10px 15px;
}
#card table thead{
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}
#card table thead td{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}
#card table tbody tr td{
    padding-top: 15px ;
}
#card table tbody td{
    width: 13px;
}
#cart-add{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#coupon{
    width: 50%;
    margin-bottom: 30px;
}
#coupon h3,
#sub-total h3{
    padding-bottom: 15px;
}
#coupon input{
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
}
#coupon button,
#sub-total button{
    background-color: #088178;
    color: #fff;
}
#sub-total{
    width: 50%;
    margin-bottom: 30px;
    padding: 30px;
    border: 1px solid #e2e9e1;
}
#sub-total table{
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}
#sub-total table td{
    width: 50%;
    padding: 10px;
    font-size: 13px;
    border: 1px solid #e2e9e1;

}